.splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  
  .logo {
    width: 150px;
    height: auto;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  